.dragicon {
	-fx-background-radius: 10; 
}

.cubic-icon {
	-fx-fill:
	rgba(80.0, 80.0, 80.0, 0.0);
	
	-fx-stroke: black;
}

.node-overlay {
	-fx-background-radius: 10 10 0 0;
	-fx-background-color:
	linear-gradient(to bottom, rgba(255,255,255,0.7) 15%, rgba(50,100,150,0.45) 100%);
	
}

.right-link-handle:hover {
	-fx-background-radius: 0 0 10 0;
	-fx-background-color:
	rgba(255, 255, 255, 0.35);
}

.left-link-handle:hover {
	-fx-background-radius: 0 0 0 10;
	-fx-background-color:
	rgba(255, 255, 255, 0.35);
}

.icon-blue {
	-fx-background-color: blue;
}

.icon-red {
	-fx-background-color: red;
}

.icon-green {
	-fx-background-color: green;
}

.icon-black {
	-fx-background-color: black;
}

.icon-grey {
	-fx-background-color: grey;
}

.icon-yellow {
	-fx-background-color: yellow;
}

.icon-purple {
	-fx-background-color: purple;
}